*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
   background-color:aliceblue;
    
    
}

section{
    width:100%;
    position:relative;
   
}

.about{
    width:25%;
    height:150px; 
    display:inline-block;
    

}
.emcar{
    width:25%;
    height:200px;
    display:none;
}

p:hover+div{
 display:inline-block;
 margin-top:150px;
 
}
.emergency{ 
    position:absolute;
   
    background-image: url(../image/112.png);
    background-size:cover;
    animation:moveQuick;
    animation-duration:4s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;

}
p{
    font-family:Noto Sans Mono;
    font-size:30px;
    font-weight:bold;
    color:red;
    
}

.greycar{
    position:absolute; 
    margin-top:400px;
    margin-left:15px;
  background-image: url(../image/greycar.png);
  background-size: cover;
  animation-name:moveRight;
  animation-duration: 5s;
  animation-delay:1s;
  animation-direction:normal;
  animation-iteration-count: 1;
 
}

.whitecar{
    position:absolute;
    margin-top:20px;
    margin-left:70%;
    background-image:url(../image/whitecar.png);
    background-size:cover;
    
   animation-name:moveDown;
    animation-duration: 5s;
    animation-delay:1s;
    animation-direction:normal;
    animation-iteration-count:1;
    
    

}


@keyframes moveRight{
    from {
        left:0%;
    }
    to{
        left:450px;
    }
}

@keyframes moveDown{
    0%{
         top:0;
        right:0;
    }
    50%{
        top:400px;
        right:0;
    }
   100%{
       top:400px;
       right:300px;
   }
   
   
}

@keyframes moveQuick{
  from{
    left:0%;
  }

  to{
    left:40%;
  }
}




